/*----------UNIVERSAL---------------------*/
/*----------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  padding: 2rem;
  /* max-width: 140rem; */
  height: 100vh;
}

/*---------NAVIGATION PART-----------------*/
/*-----------------------------------------*/

nav {
  /*layout*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.25rem;
}

.login {
  /*flex for gap*/
  display: flex;
  gap: 1rem;
}

.login__input {
  /*shaping*/
  font-size: 1.6rem;
  width: 20rem;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
  /*styling*/
  border: none;
  border: 1px solid #fff;
  font-family: inherit;
  text-align: center;
  color: inherit;
  transition: all 0.3s;
}

.login__input:hover {
  border: 1px solid #ccc;
}
.login__input:focus {
  outline: none;
  border: 1px solid #777;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  /* shaping */
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  font-size: 2.2rem;
  /* centering */
  display: flex;
  align-items: center;
  justify-content: center;
  /* styling */
  cursor: pointer;
  border: none;
  color: inherit;
  background-color: transparent;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  /* remove the outline when focused */
  outline: none;
  background-color: #ccc;
  color: #777;
}
/*---------MAIN PART-----------------*/
/*-----------------------------------*/

/*---------BALANCE-----------------*/
.app {
  /*layout*/
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  /*fade in/out effects*/
  opacity: 0;
  transition: all 1s;
}

.balance {
  /*layout*/
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/*---------MOVEMENTS-----------------*/
.movements {
  grid-row: 2 / span 3;
  overflow: scroll;
  background-color: #fff;
  border-radius: 2rem;
}

.movements__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.25rem 4rem;
  border-bottom: 1px solid #eee;
}

.movements__type {
  /* shaping */
  font-size: 1.1rem;
  border-radius: 10rem;
  padding: 0.1rem 1rem;
  /* styling */
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  /* layout */
  margin-right: 2rem;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  justify-self: center;
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/*---------SUMMARY-----------------*/

.summary {
  /* shaping */
  padding: 0 0.3rem;
  /* layout */
  display: flex;
  /* justify-content: space-between; */
  /* align-items: baseline; */
  grid-row: 5;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
  align-self: flex-end;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  /* shaping */
  height: 4.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  /* styling */
  border: none;
  border-radius: 1rem;
  background: none;
  cursor: pointer;
  /* layout */
  margin-left: auto;
}

/*---------OPERATION-----------------*/
/*-----------------------------------*/

.operation {
  padding: 3rem 4rem;
  border-radius: 1rem;
  color: #333;
  background-color: #39b385;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* for form loan only*/
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End for form loan */

.form__input {
  /* layout */
  width: 100%;
  /* shaping */
  font-size: 1.5rem;
  border: none;
  border-radius: 0.7rem;
  padding: 0.3rem 1rem;
  /* styling */
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: inherit;
  color: #333;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

/*---------TIMER-----------------*/

.logout-timer {
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
  padding: 0 0.3rem;
}

.timer {
  font-weight: 600;
}

/*---------MEDIA QUERIES-------------*/
/*-----------------------------------*/

@media (max-width: 46.25em) {
  html {
    font-size: 56.25%;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    justify-self: flex-end;
  }

  .login {
    /*flex for gap*/
    grid-column: 1/-1;
    justify-self: center;
  }

  .app {
    /*layout*/
    grid-template-columns: 3.5fr 3.5fr;
    grid-template-rows: auto repeat(3, 13rem) auto;
  }

  .operation {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 34.375em) {
  html {
    font-size: 62.5%;
  }

  body {
    padding: 3rem;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .app {
    /*layout*/
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto auto auto auto;
  }

  .balance {
    /*layout*/
    grid-column: 1;
    flex-direction: column;
  }

  .movements {
    grid-row: 2;
    overflow: scroll;
  }

  .summary {
    /* layout */
    grid-row: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin-top: 0;
    justify-items: center;
    align-items: center;
  }

  .summary__label {
    font-size: 2.2rem;
    margin-right: 0rem;
    justify-self: flex-end;
  }

  .summary__value {
    font-size: 3.2rem;
    margin-right: 0rem;
    justify-self: flex-start;
  }

  .btn--sort {
    /* layout */
    margin-left: auto;
    grid-row: 1;
    grid-column: 1/-1;
  }

  .operation {
    padding: 3rem 4rem;
  }

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
  }

  .form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
  }

  /* for form loan only*/
  .form.form--loan {
    grid-template-columns: 2.5fr 1fr 2.5fr;
  }
  .form__label--loan {
    grid-row: 2;
  }
  /* End for form loan */

  .form__input {
    /* layout */
    width: 100%;
    /* shaping */
    font-size: 1.5rem;
    border: none;
    border-radius: 0.7rem;
    padding: 0.3rem 1rem;
    text-align: center;
  }

  .form__label {
    font-size: 1.3rem;
    text-align: center;
  }

  .form__btn {
    font-size: 1.8rem;
  }

  .logout-timer {
    margin-top: 1.9rem;
    text-align: right;
    font-size: 1.25rem;
    padding: 0 0.3rem;
  }
}
